name: 3.Deploy Azure Function (Flex Consumption)

on:
  workflow_dispatch:

jobs:
  deploy-function:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ 코드 체크아웃
      - name: Checkout
        uses: actions/checkout@v4

      # 2️⃣ Azure 로그인 (Service Principal 사용)
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Get Terraform Outputs
        working-directory: terraform
        run: |
          terraform init -input=false -backend-config=backend.hcl
          echo "RG_NAME=$(terraform output -raw resource_group_name)" >> $GITHUB_ENV
          echo "FUNC_NAME=$(terraform output -raw function_app_name)" >> $GITHUB_ENV

      - name: Set Function App App Settings
        run: |
          az functionapp config appsettings set \
            --name $FUNC_NAME \
            --resource-group $RG_NAME \
            --settings \
              AzureWebJobsStorage="${{ secrets.AZURE_STORAGE_KEY_CONNECTION_STRING }}" \
              STORAGE_ACCOUNT_URL="${{ secrets.STORAGE_ACCOUNT_URL }}" \

      # 4️⃣ 배포 (Flex Consumption 전용)
      - name: Deploy Azure Function
        uses: Azure/functions-action@v1
        with:
          app-name: dev-blob-func
          package: function
          remote-build: true
          respect-pom-xml: false
          respect-funcignore: false
          scm-do-build-during-deployment: false
          enable-oryx-build: false