name: Function Only

on:
  push:
    branches:
      - main
    paths:
      - 'function/**'

jobs:
  deploy-function:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Azure Function
        uses: Azure/functions-action@v1
        with:
          app-name: poc-blob-func-123
          package: function
