name: Terraform Apply

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Clean Terraform directory
        working-directory: terraform
        run: rm -rf .terraform

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false -backend-config=backend.hcl

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan -input=false

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan
